<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getDepartmentInfoServlet</servlet-name>
        <servlet-class>getDepartmentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDepartmentInfoServlet</servlet-name>
        <url-pattern>/servlet/getDepartmentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffChartServlet</servlet-name>
        <servlet-class>StaffChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffChartServlet</servlet-name>
        <url-pattern>/servlet/StaffChartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOneStaffInfoServlet</servlet-name>
        <servlet-class>UpdateOneStaffInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOneStaffInfoServlet</servlet-name>
        <url-pattern>/servlet/UpdateOneStaffInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateSelfsServlet</servlet-name>
        <servlet-class>UpdateSelfsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSelfsServlet</servlet-name>
        <url-pattern>/servlet/UpdateSelfsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SalaryServlet</servlet-name>
        <servlet-class>SalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalaryServlet</servlet-name>
        <url-pattern>/servlet/SalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchStaffInfoServlet</servlet-name>
        <servlet-class>SearchStaffInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchStaffInfoServlet</servlet-name>
        <url-pattern>/servlet/SearchStaffInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStaffsServlet</servlet-name>
        <servlet-class>DeleteStaffsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffsServlet</servlet-name>
        <url-pattern>/servlet/DeleteStaffsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddOneStaffServlet</servlet-name>
        <servlet-class>AddOneStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOneStaffServlet</servlet-name>
        <url-pattern>/servlet/AddOneStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOneStaffSalaryServlet</servlet-name>
        <servlet-class>UpdateOneStaffSalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOneStaffSalaryServlet</servlet-name>
        <url-pattern>/servlet/UpdateOneStaffSalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SalaryStatisticServlet</servlet-name>
        <servlet-class>SalaryStatisticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalaryStatisticServlet</servlet-name>
        <url-pattern>/servlet/SalaryStatisticServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSalaryServlet</servlet-name>
        <servlet-class>DeleteSalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSalaryServlet</servlet-name>
        <url-pattern>/servlet/DeleteSalaryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchSalaryInfoServlet</servlet-name>
        <servlet-class>SearchSalaryInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSalaryInfoServlet</servlet-name>
        <url-pattern>/servlet/SearchSalaryInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/servlet/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adLoginServlet</servlet-name>
        <servlet-class>adLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adLoginServlet</servlet-name>
        <url-pattern>/servlet/adLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adAddUserServlet</servlet-name>
        <servlet-class>adAddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adAddUserServlet</servlet-name>
        <url-pattern>/servlet/adAddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adUserServlet</servlet-name>
        <servlet-class>adUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adUserServlet</servlet-name>
        <url-pattern>/servlet/adUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adUpdateUserServlet</servlet-name>
        <servlet-class>adUpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adUpdateUserServlet</servlet-name>
        <url-pattern>/servlet/adUpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adDeleteUserServlet</servlet-name>
        <servlet-class>adDeleteUserServler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDeleteUserServlet</servlet-name>
        <url-pattern>/servlet/adDeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adTieziChartServlet</servlet-name>
        <servlet-class>adTieziChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adTieziChartServlet</servlet-name>
        <url-pattern>/servlet/adTieziChartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOneTieziInfoServlet</servlet-name>
        <servlet-class>UpdateOneTieziInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOneTieziInfoServlet</servlet-name>
        <url-pattern>/servlet/UpdateOneTieziInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adDeleteTieziServlet</servlet-name>
        <servlet-class>adDeleteTieziServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDeleteTieziServlet</servlet-name>
        <url-pattern>/servlet/adDeleteTieziServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adAddOneTieziServlet</servlet-name>
        <servlet-class>adAddOneTieziServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adAddOneTieziServlet</servlet-name>
        <url-pattern>/servlet/adAddOneTieziServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSearchUserInfoServlet</servlet-name>
        <servlet-class>adSearchUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSearchUserInfoServlet</servlet-name>
        <url-pattern>/servlet/adSearchUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSearchTieziInfoServlet</servlet-name>
        <servlet-class>adSearchTieziInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSearchTieziInfoServlet</servlet-name>
        <url-pattern>/servlet/adSearchTieziInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSchoolServlet</servlet-name>
        <servlet-class>adSchoolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSchoolServlet</servlet-name>
        <url-pattern>/servlet/adSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adAddOneSchoolServlet</servlet-name>
        <servlet-class>adAddOneSchoolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adAddOneSchoolServlet</servlet-name>
        <url-pattern>/servlet/adAddOneSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOneSchoolServlet</servlet-name>
        <servlet-class>UpdateOneSchoolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOneSchoolServlet</servlet-name>
        <url-pattern>/servlet/UpdateOneSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adDeleteSchoolServlet</servlet-name>
        <servlet-class>adDeleteSchoolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDeleteSchoolServlet</servlet-name>
        <url-pattern>/servlet/adDeleteSchoolServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSearchTiezibytyServlet</servlet-name>
        <servlet-class>adSearchTiezibytyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSearchTiezibytyServlet</servlet-name>
        <url-pattern>/servlet/adSearchTiezibytyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>adneartieziServlet</servlet-name>
    <servlet-class>adneartieziServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>adneartieziServlet</servlet-name>
        <url-pattern>/servlet/adneartieziServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adGetReplyServlet</servlet-name>
        <servlet-class>adGetReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adGetReplyServlet</servlet-name>
        <url-pattern>/servlet/adGetReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adAddReplyServlet</servlet-name>
        <servlet-class>adAddReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adAddReplyServlet</servlet-name>
        <url-pattern>/servlet/adAddReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSearchTiezibyuserServlet</servlet-name>
        <servlet-class>adSearchTiezibyuserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSearchTiezibyuserServlet</servlet-name>
        <url-pattern>/servlet/adSearchTiezibyuserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adGetXiaoxiServlet</servlet-name>
        <servlet-class>adGetXiaoxiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adGetXiaoxiServlet</servlet-name>
        <url-pattern>/servlet/adGetXiaoxiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adSearchtzbyxiaoxiServlet</servlet-name>
        <servlet-class>adSearchtzbyxiaoxiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adSearchtzbyxiaoxiServlet</servlet-name>
        <url-pattern>/servlet/adSearchtzbyxiaoxiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adReplyServlet</servlet-name>
        <servlet-class>adReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adReplyServlet</servlet-name>
        <url-pattern>/servlet/adReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>owntieziServlet</servlet-name>
        <servlet-class>owntieziServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>owntieziServlet</servlet-name>
        <url-pattern>/servlet/owntieziServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adDeleteowntieziServlet</servlet-name>
        <servlet-class>adDeleteowntieziServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adDeleteowntieziServlet</servlet-name>
        <url-pattern>/servlet/adDeleteowntieziServlet</url-pattern>
    </servlet-mapping>
</web-app>